*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
}

.section-title {
  color: #87629a;
}

img {
  max-width: 100%;
}

header {
  background-color: #136c72;
  padding: 1em 0;
}

.logo {
  margin-right: 1em;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 1em;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link--button {
  background: #fff;
  color: #136c72;
  padding: 0.25em 1em;
  border-radius: 10em;
}

.container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.hero {
  padding: 100px 0;
  background-color: #23424a;
  color: #fff;
}

.hero__text {
  width: 60%;
}

.hero__img {
  width: 30%;
  align-self: flex-start;
}

.hero p {
  margin-bottom: 3em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #23424a;
  font-weight: 900;
  background-color: #38cfd9;
  padding: 0.75em 2em;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 100%;
}

.col + .col {
  margin-left: 30px;
}

.three-col {
  text-align: enter;
  padding: 3em 0;
}

.three-col h2 {
  color: #87629a;
}

.two-col {
  text-align: center;
  background-color: #136c72;
  color: #fff;
  padding: 3em 0;
}

.main {
  margin-top: 3em;
}

.primary-content {
  width: 62%;
}

.sidebar {
  width: 32%;
  text-align: center;
  background-color: #136c72;
  color: #fff;
  padding: 1em;
}
